Source: ros-indigo-widowx-arm-controller
Section: misc
Priority: extra
Maintainer: Román Navarro <rnavarro@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-arbotix-python, ros-indigo-catkin
Homepage: http://ros.org/wiki/widowx_arm
Standards-Version: 3.9.2

Package: ros-indigo-widowx-arm-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-arbotix-python
Description: The widowx_arm_controller package
